
.adminlogowitstatus {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
}

.circle-container {
  display: flex;
  align-items: center;
  position: relative;
}
.kavi{
  margin-left: 15px;
  font-weight: 400;
  color: rgb(74, 74, 74);
}
.circle {
  /* Style for the user's avatar or letter */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(124, 4, 124); /* Example background color */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

.status-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green; /* Color for available status */
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid white; /* Optional: to give the dot a border */
}

.status-dot.available {
  background-color: green; /* Green for available */
}
.adminlogowitstus {
  display: flex;
  align-items: center;
  margin-left: 5px;
  position: absolute;
  left: 1110px;
  top: 30px;
}
.adminlogowitstuss {
  display: flex;
  align-items: center;
  margin-left: 5px;
  position: absolute;
  left: 760px;
  top:5px;
}
.dashbody{
  border: 1px solid rgb(192, 189, 189);
  height: 480px;
  position: relative;
  top: 70px;
  width: 900px;
  left: 50px;
  background-color: white;
  border-radius: 5px;
}
#MdFullscreen{
  cursor: pointer;
  position: relative;
  font-size: 25px;
  left: 160px;
  top: 8px;
  color: black;
}
.circle-containers {
  display: flex;
  align-items: center;
  position: relative;
}
.circle-containerss {
  display: flex;
  align-items: center;
  position: relative;
}
.circless{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(124, 4, 124); /* Example background color */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}
.circles {
  /* Style for the user's avatar or letter */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(124, 4, 124); /* Example background color */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}
.status-dotss {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green; /* Color for available status */
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid white; /* Optional: to give the dot a border */
}
.status-dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green; /* Color for available status */
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid white; /* Optional: to give the dot a border */
}

.status-dot.availables {
  background-color: green; /* Green for available */
}
.status-dots.availabless {
  background-color: green; /* Green for available */
}
.mainbar{
  overflow-y: auto;
  overflow-x: hidden;
  height: 900px;
}
.togglebtn.active .mainbar{
  height: 1000px !important;
}
.mainbar::-webkit-scrollbar {
  width: 8px; 
  border: 1px solid gray;
  box-shadow: inset 0 0 3px 0px;
}
.mainbar::-webkit-scrollbar-thumb {
  background: #8d8c8c; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
  
}
.mainbar::-webkit-scrollbar-thumb:hover {
  background: #767575; /* Darker background on hover */
}

*{
    list-style: none;
    text-decoration: none;
  }
  body {
    font-family: 'Quicksand', sans-serif;
  }
  .rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease; 
  }
  .sidebar-collapse .main-sidebar {
    width: 50px !important;
  
  }
  .main-sidebar.active{
    width: max-content;
  }
  .main-sidebar.active #logodiv{
    display: none;
  }
  .main-sidebar.active #logomenu{
    position: relative;
    font-size: 23px;
    top: 5px;
    left: 10px;
    cursor: pointer;
    /* color: var(--body_background); */
  }
  #logo{
    font-size: 50px;
    color: #0da0b4;
  }
  .sidebar li{
    border-bottom: 1px solid gray;
    font-weight: 600;
  }
  .logos sup{
       font-size: 20px;
       /* color: white; */
       background-image: linear-gradient(10deg, #d21489, #0da0b4);
      background-clip: text;
      color: transparent;
      font-weight: 900;
  }
  
  .main-sidebar.active #logo{
    position: relative;
    font-size: 23px;
    left:-40px;
    width: 20px;
    top: 20px;
  }
  .dark_mode{
    position: absolute;
    left: 1100px;
    top: 25px;
  }
  
  #logodiv img{
        width: 200px;
        height: 80px;
  }
  #logodiv{
    border-bottom: 1px solid gray;
    width: 221px;
  }
  .main-sidebar.active #logodiv{
    width: 20px;
    background-color: transparent;
  }

  .main-sidebar.active .logos{
    width: 20px;
  }
  .main-sidebar.active sup{
    position: relative;
    
    display: none;
  }

  .logos:hover{
    /* background-color: rgba(0, 0, 0, 0.151); */
  }
  .logos{
    padding-top: 24px;
    /* padding-bottom: 24px; */
    padding-left: 50px;
    /* background-color: rgba(0, 0, 0, 0.160); */
    width: 200px;
    /* left: 10px; */
    top: -30px;
    position: relative;
    /* border-radius: 5px; */
    color: black;
  }
  
  .adminsmal{
    position: absolute;
    left: 52px;
    top: 110px;
  }
  #logomenu{
    font-size: 23px;
    position: absolute;
    left: 300px;
    top: 30px;
    color: var(--body_color);
    cursor: pointer;
    z-index: 1;
  }
  .subdashcons{
    position: absolute;
    top: 20px;
    left: 350px;
    background-color: white;
    height: 40px;
    width: 850px;
    border-radius: 3px;
  }
.subdashcons span{
  position: relative;
  left: 70px;
  top:8px;
}
.subdashcons input{
  width: 500px;
  padding-left: 40px;
  font-size: 13px;
  border-radius: 10px;
  outline: none;
  border: 1px solid;
  /* margin-top: 7px; */
}
#searchfaa{
  position: relative;
  left: 30px;
  font-size: 12px;
  color: black;
 }
 #cimails{
  position: relative;
  left: 120px;
  font-size: 20px;
  top:  8px;
  color: black;
 }
  .subdashcon{
    margin-left: 100px;
    left: 50px;
    margin-top: 4px;
    background-color: white;
    height: 40px;
    width: 850px;
    border-radius: 3px;
  }
  .subdashcon span{
    position: relative;
    left: 70px;
    top:8px;
  }
  .subdashcon input{
        width: 500px;
        padding-left: 40px;
        font-size: 13px;
        border-radius: 10px;
        outline: none;
        border: 1px solid;
  }

 #searchfa{
  position: relative;
  left: 30px;
  font-size: 12px;
 }
 #cimail{
  position: relative;
  left: 120px;
  font-size: 20px;
  top:  8px;
 }
 
  .main-sidebar.active .logos{
    /* display: none; */
    position: relative;
    top: -10px;
  }
  .main-sidebar.active span{
    display: none;
  }
  .main-sidebar.active .logos{
    width: 100px;
    position: relative;
    left: 0;
  }
  .main-sidebar.active #icons{
    position: relative;
    left: -10px;
  }
  #icons{
    color: #05a6c2;;
    font-weight: 100;
  }
  .dashb{
    color: black;
    color: #05a6c2;
  }
  .main-sidebar{
    background-color: white;
    color: #05a6c2;
    display: flex;
  flex-direction: column;
  /* height: 100vh; */
    /* box-shadow: 0 0 20px 0px #d21489; */
  }
  .icons{
    font-size: 19px;
  }
.wrapper{
  display: flex;
  flex-direction: row;
}
  .main-sidebar li{
    cursor: pointer;
    font-size: 18px;
    width: 190px;
    /* padding-left: 20px; */
    padding-top: 20px;
    left: -15px;
    position: relative;
    padding-bottom: 20px;
    border-bottom: solid 1px gray;
    border-width: 1px;
    /* line-height: 2px; */
    /* font-weight: 500; */
  }
  .main-sidebar.active .nav-item{
      border-bottom: none;
  }
   .main-sidebar.active .icons{
    position: relative;
    left: -10px;
   }
  .main-sidebar.active li{
    position: relative;
    left: -10px;
  }
  .sidebarcon {
    position: relative;
    padding: 10px;
    /* width: 110px; */
    left: -15px;
    cursor: pointer;
    border-bottom: 1px solid gray;
  }
  .main-sidebar.active .sidebarcon{
    display: none;
  }
  .sidebarcon div{
    padding-top: 5px;
  }
  .content-wrapper {
    flex: 1;
    /* background-color: rgba(128, 128, 128, 0.196); */
    background-color: var(--body_background);
    padding: 20px;
  
    
  }
  .card {
    margin-top: 20px;
  }
  
  .card-header {
    background-color: #3c8dbc;
    color: #ffffff;
  }
  
  .card-title {
    font-weight: bold;
  }
  .input-field {
    margin-left: 50px;
    width: 500px;
  }
  
  
  .dark_mode {
    margin-top: -20px;
    margin-left: 10px;
  }
  
  .dark_mode_label {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
  }
  .dark_mode_label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
  
    background: linear-gradient(180deg, #ffcc89, #d21489);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .dark_mode_input:checked + .dark_mode_label {
    background: #242424;
  }
  .dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  .dark_mode_label:active:after {
    width: 30px;
  }
  
  .dark_mode_label svg {
    position: absolute;
    width: 20px;
    top: 5px;
    z-index: 100;
  }
  .dark_mode_label svg.sun {
    left: 5px;
    fill: #fff;
    transition: 0.3s;
  }
  .dark_mode_label svg.moon {
    left: 40px;
    fill: #7e7e7e;
    transition: 0.3s;
  }
  .dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: #7e7e7e;
  }
  .dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: #fff;
  }
  :root {
    --body_background: rgba(128, 128, 128, 0.297);
    --body_color: black;
    /* --link_color: black; */
  }
  [data-theme="dark"]{
    --body_background: #282c34;
    --body_color: white;
    /* --link_color: cyan; */
  
  }
  #std-arrow{
    position: relative;
    left: 45px;
  }
  #cus-arrow{
    position: relative;
    left: 57px;
  }
  #std-arrows{
    position: relative;
    left: 40px;
  }
  #ven-arrow{
    position: relative;
    left: 70px;
  }
  #leads-arrow{
    position: relative;
    left: 86px;
  }
  #rece-arrow{
    position: relative;
    left: 72px;
  }
  #inter-arrow{
    position: relative;
    left: 60px;
  }
  #rep-arrow{
    position: relative;
    left: 68px;
  }
  #bill-arrow{
    position: relative;
    left: 84px;
  }
  #mas-arrow{
    position: relative;
    left: 77px;
  }
  /* dashborad */
  .boxdash{
    display: flex;
  }
  .boxdash div{
    border: 1px solid rgb(215, 215, 215);
    margin: 10px;
    border-radius: 5px;
    width: 500px;
    height: 120px;
  }
  .boxdash span{
    font-size: 30px;
    background-color: #0576c2;
    border-radius: 2px;
    color: white;
    position: relative;
    left: 160px;
    top: -30px;
  }
  .empdash{
   position: relative;
   top: 25px;
   left: 20px;
   font-weight: 600;
  }
  .dashnum{
    position: relative;
   left: 20px;
  }
  .numbstd{
    position: relative;
    border-radius: 5px;
    border: 1px solid rgb(215, 215, 215);
    width: 600px;
    height: 280px;
    margin-top: 50px;
    left: 10px;
  }
  .blue{
    background-color: #0576c2;
    width: 100px;
    height: 10px;
    position: relative;
    left: 150px;
    top: 8px;
  }
  .yellow{
    background-color: rgb(216, 191, 25);
    width: 100px;
    height: 10px;
    position: relative;
    left: 160px;
    top: -10px;
  }
  .numbstd h2{
    font-size: 18px;
    position: relative;
    top: 30px;
    left: 120px;
  }
  .numbstd select{
    position: relative;
    left: 400px;
  }
  .numbstd .stack{
    position: relative;
    left: 260px;
    font-size: 12px;
    top: -10px;
  }
  .mobapp{
    position: relative;
    left: 270px;
    font-size: 12px;
    top: -30px;
  }
  .chartyellow{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: rgb(216, 191, 25); 
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: #fff; */
    font-weight: bold;
    margin-top: 20px;
    margin-left: 250px;
  }


.calendar {
    border-collapse: collapse;
  
    /* margin: 20px auto; */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: absolute;
   top: 82px;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 4px;
}

.calendar th {
    background-color: #f2f2f2;
}

.today {
    background-color: #ffeb3b;
}

.calendar-header {
    /* margin-bottom: 10px; */
}

.calendar-header button {
    /* margin: 0 10px; */
}
.calendar-container{
  height: 50px;
  border: 1px solid rgb(215, 215, 215);
  height: 280px;
  position: relative;
  width: 260px;
  top: -260px;
  left: 620px;
  border-radius: 5px;
}
.cladd{
  width: 100px;
  
}
.events h3{
   font-size: 17px;
   position: absolute;
   left: 70px;
   top: 10px;
   
}
.events p{
  font-size: 11px;
  position: relative;
  left: 30px;
  top: 35px;
}
.calendar-header h4{
font-size: 15px;
position: relative;
left: 75px;
width: 120px;
top: 5px;
}
.GrFormPrevious{
  position: relative;
  top:25px;
  left: 40px;
}
.GrFormNext{
  position: relative;
  top:-25px;
  left: 200px;
}